.view-combat {
    margin-top: 32px;
}

.combat-title {
    margin: 0;
}

.combat-monster {
    margin-bottom: 24px;
}

.combat-description {
    background: #fff;
    border: 1px solid #d0d7de;
    border-radius: 3px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.combat-description .title {
    padding: 8px;
    border-bottom: 1px solid #d0d7de;
}

.combat-description .wmde-markdown {
    padding: 0 8px 8px;
}

.entries-list>h3 {
    font-weight: 500;
    margin-bottom: 8px;
}

.entries-list>ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.entries-list>ul>li {
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: #fff;
    border: 1px solid #d0d7de;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.25);

    &.selected {
        border-color: #077306;
        box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);

        .initiative {
            background-color: #077306;
            color: #fff;
        }
    }
}

.entries-list .entry {
    width: 100%;
}

.entries-list .initiative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75px;
    padding: 10px;
    margin: -10px 10px -10px -10px;
    background-color: #eee;

    &>p {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4;
    }
}

.entries-list .name {
    font-weight: 500;
    margin-bottom: 4px;
}

.entries-list .details {
    column-count: 2;
    font-size: 14px;
    max-width: 65%;
    color: #585958;

    &>* {
        margin-bottom: 0;
    }

    &>*:first-child {
        margin-right: 24px;
    }
}

.entries-list-list strong {
    font-weight: 500;
}

.entries-list>ul>li>button {
    width: calc(100% + 20px);
    text-align: left;
    background-color: #fff;
    padding: 10px;
    margin: -10px;

    &:hover,
    &.selected {
        background-color: #eee;
    }

    &>* {
        color: #000;
    }

    &>p:first-child {
        font-weight: 600;
        margin-bottom: 4px;
        font-size: 18px;
    }
}

.entries-list .health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 10px 15px;
    margin: -10px;
    min-width: 75px;

    &>ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
    }
}

.entries-list .hp-modal {
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
    width: 125px;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #077306;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.25);

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid #077306;
        border-left: 0;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    &>form {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    &>form>input {
        margin: 0 5px 0 0;
    }

    &>form>button {
        padding: 5px;
        font-size: 12px;
    }
}

.combat-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &>* {
        margin: 0;
    }

    &>p {
        font-size: 16px;
        font-weight: 500;
        color: #333;
    }
}