.spellButton {
    background: #d0d7de;
    padding: 3px;
    color: #000;
    font-size: 15px;
}

.spellButton:focus {
    color: #fff;
}

.spellModal h2 {
    margin: 16px 16px 0 16px;
}

.spellModal .spellStats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style-type: none;
    padding: 4px;
    margin: 12px;
    border-bottom: 1px solid #d0d7de;
}

.spellModal .spellStat>*:first-child {
    font-weight: 600;
    margin: 0;
}

.spellModal .concentration {
    margin-right: 3px;
}

.spellModal .spellContent {
    width: 100%;
    padding: 0 16px 16px;
}

.spellModal .materials {
    font-style: italic;
    margin-top: 12px;
}