.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.25);
    height: 0;
    opacity: 0;
    transition: opacity .15s;
}

.modal .inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: #fff;
    box-shadow: 5px 5px 15px 5px #000000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transform: translateY(100%);
    transition: transform .15s;
    transition-delay: .15s;
}

.modal .modalContent {
    height: 100%;
    overflow-y: scroll;
}

.modal.open {
    height: 100%;
    opacity: 1;
}

.modal.open .inner {
    transform: translateY(0);
}

.modal .closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #d0d7de;
    color: #000;
}