input[type=text].encounter-monster-search-input {
    display: block;
    margin-bottom: 12px;
}

.encounter-monster-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.encounter-monster-item .monster-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.encounter-monster-item .monster-link.selected {
    background-color: #d0d7de;
}

.encounter-monster-item .monster-details {
    display: flex;
    align-items: center;
}

.encounter-monster-item .monster-name {
    margin-bottom: 1px;
}

.encounter-monster-item .monster-tag {
    font-size: 14px;
    font-style: italic;
    margin-left: 8px;
    margin-bottom: -2px;
}

.encounter-monster-item .monster-amount {
    font-size: 14px;
    margin-right: 16px;
    margin-bottom: -2px;
}

.encounter-monster-item .manage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.encounter-monster-item .view {
    font-size: 14px;
    margin-left: 12px;
    margin-bottom: 0;
    width: 66px;
    text-align: right;
}

.encounter-monster-item .drawer {
    margin-top: -10px;
    margin-bottom: 8px;

    &:before {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% - 40px);
        background-color: #d0d7de;
        margin-left: 20px;
    }
}

.encounter-monster-item .drawer>* {
    border-top: 1px solid #fff !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}