.manage-data {
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.manage-data .import {
    border-left: 1px solid #d0d7de;
    margin-left: 12px;
    padding-left: 12px;
}

.manage-data .import .file-selector {
    display: inline-block;
    width: auto;
    font-size: 13px;
    cursor: pointer;
    background-color: #911313;
    color: #fff;
    border-radius: 3px;
    padding: 5px 8px;
    margin-bottom: 0;

    &:focus {
        background-color: #171717;
    }
}