nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    background: #eee;
}

.link {
    margin: 0 8px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}